body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 10px 0;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color:indianred;
}
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.title{
    text-decoration:none;
    color: #fff;
}
.selected-tab{
    font-weight: bold;
}
#material{
    background-color: #c3c3c3;
    color: black;
    max-width:400px;
    padding:20px;
    margin:1vh 5vw 10vh 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display:inline-block;
    border: dashed white 5px;
}
#material:hover{
    text-decoration: underline;
    border: dashed indianred 5px;
}